{% extends "hmo/navigation.html" %}
{% from "hmo/_formhelpers.html" import render_field %}



{% block content %}



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Patient
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Add Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="col-4"></div>
      <div class="modal-body">


        <form  method=post>
          <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.age) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.diagnosis) }}
            {{ render_field(form.hmo_provider) }}
          </dl>
    <p><input type=submit value=Register>
</form>

      </div>
    </div>
  </div>
</div>


<div class="panel-list">
    <h3 class="ml-2 mt-3">All Patient</h3>

    {{ table }}
</div>

{% endblock %}


